.dft-nav-bar {
  position: sticky;
  top: 0px;
  z-index: 3;

  padding: 0 var(--page-pad);
  width: calc(100% - var(--page-pad) * 2);
  height: 90px;

  display: flex;
  align-items: center;
  gap: 32px;

  background-color: #fafafa;

  transition: box-shadow 0.1s;

  .logo {
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
  }

  h1 {
    margin: 0px;
    line-height: 1.4;

    color: var(--accent);
  }
}

.dft-nav-bar .opts {
  gap: 10px;

  > .opt {
    font-family: var(--title);

    font-size: 1.25em;
    font-weight: 700;

    padding: 0px 32px;
    user-select: none;

    cursor: pointer;
    /* border-bottom: 6px solid; */

    height: 100%;
  }

  .opt:hover {
    background-color: #0001;
  }

  .opt:first-child {
    color: var(--gg-green);
  }

  .opt:nth-child(2) {
    color: var(--gg-blue);
  }

  .opt:nth-child(3) {
    color: var(--gg-yellow);
  }

  .opt:nth-child(4) {
    color: var(--gg-red);
  }
}
